@media screen and (max-width: 1600px) {

    .bg_decor-5 {
        max-width: 200px;
        bottom: -80px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 1500px) {

    .about .bg_decor-1 {
        left: auto;
        right: -125px;
        top: -210px;
        transform: rotate(180deg);
        transform: scaleX(-1);
    }

    .about .bg_decor-2 {
        width: 400px;
        right: -200px;
        top: 600px;
    }

    .work .bg_decor-3 {
        width: 30%;
        left: -13%;
    }

    /*  */
    .slick {
        max-width: 900px;
    }
}

@media screen and (max-width: 1300px) {
    .work__items {
        justify-content: center;
        grid-template-rows: auto;
        gap: 30px;
    }

    .work__item-circle {
        margin-top: 0;
    }

    .work__item {
        align-items: center;
        border: none;
        position: static;
        padding: 20px 28px;
    }

    .reviews {
        .bg_decor-4 {
            bottom: 400px;
            width: 30%;
            right: -12%;
        }
    }

    .popap-order__descr {
        grid-column: 1 / 3;
    }

    .popap-order__title {
        grid-column: 1 / 3;
    }
}

@media screen and (max-width: 1200px) {

    .main-block__content {
        column-gap: 0;
    }

    .about__first-block,
    .about__second-block {
        justify-content: center;
        gap: 50px;
    }

    .about__second-block {
        margin-right: 50px;
    }

    .promotion__title {
        margin-top: auto;
    }
}

@media screen and (max-width: 1000px) {
    .header__menu {
        gap: 30px;
    }

    .header__container {
        gap: 30px;
    }

    .main-block__container {
        align-items: flex-end;
    }

    .about__first-block,
    .about__second-block {
        align-items: center;
    }

    .about__second-block {
        flex-direction: row-reverse;
        position: static;
        margin-right: 0;
    }

    .about__second-block .about__descr,
    .about__first-block .about__descr {
        max-width: 50%;
    }

    .about__second-block .about__img {
        border: none;
    }

    .about__content img {
        max-width: 100%;
    }

    .plants {
        padding: 120px 0 170px;
    }

    .plants__catalog {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 36px;
    }

    .promotion__content {
        column-gap: 30px;
    }

    .promotion__foliage-1 {
        right: -243px;
        top: -154px;
    }

    .promotion__foliage-2 {
        width: 406px;
        left: 112px;
        bottom: -258px;
        transform: rotate(10deg);
    }

    .about .bg_decor-2 {
        width: 400px;
        right: auto;
        top: 838px;
        left: -175px;
    }

    .photogallery__img-items {
        /* grid-template-columns: minmax(300px, 333px); */
        justify-items: center;
    }

    .photogallery__img-item-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .photogallery__img-item-2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .photogallery__img-item-3 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .photogallery__img-item-4 {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .photogallery__img-item-5 {
        grid-column: 1/3;
        grid-row: 2/3;
        width: 50%;
    }

    /*  */

    .slick {
        width: 433px;
    }

    /*  */

    .info__content {
        grid-template-columns: minmax(300px, 588px);
        justify-content: center;
    }

    .payment {
        grid-column: 1/2;
    }

    /*  */

    .footer__phone-wrap {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 892px) {
    .main-block__content {
        justify-items: center;
        padding: 75px 0;
    }

    .main-block__descr {
        text-align: center;
    }

    .main-block__circle-item {
        margin-top: 45px;
    }

    .main-block__title {
        margin: 0 0 40px;
        text-align: center;
        grid-column: 1 / 3;
    }

    .main-block__img-3_flower {
        grid-column: 2 / 3;
        grid-row: 2 / 4;
        width: 70%;
    }

    .main-block__circle-item {
        grid-column: 1 / 3;
    }

    .about .bg_decor-1 {
        width: 202px;
        right: -80px;
        top: -50px;
    }

    .about__content {
        padding: 40px 0 75px;
    }

    .h2-title {
        font-size: 25px;
    }

    .about__title {
        margin-bottom: 30px;
    }

    .plants {
        padding: 40px 0 75px;
    }

    .plants__plants-category {
        column-gap: 30px;
    }

    .plants-category__item {
        margin-bottom: 25px;
        font-size: 18px;
    }

    .plants__title {
        margin-bottom: 30px;
    }

    .about .bg_decor-2 {
        width: 278px;
        right: auto;
        top: 714px;
        left: -127px;
    }

    .work__items {
        grid-template-areas: 'a' 'c' 'b' 'd';
    }

    .work {
        padding: 40px 0 75px;
    }

    .popap-order-wrap {
        grid-template-columns: 332px;
        column-gap: 0;
    }

    .popap-order__img {
        display: none;
    }

    .order_btn {
        justify-self: center;
    }

    .popap-order__title {
        justify-self: center;
    }

    .popap-order__descr {
        justify-self: center;
    }

    .popap-order-wrap {
        margin: 50px 30px 80px;
    }
}

@media screen and (max-width: 852px) {
    .header__menu {
        display: none;
    }

    .menu_button {
        display: block;
    }

    .header__container {
        gap: 0;
    }

    .popap-order-thanks {
        padding: 90px 40px 237px;
    }
}

@media screen and (max-width: 700px) {
    .about__first-block {
        flex-wrap: wrap;
        margin-bottom: 50px;
    }

    .about__second-block {
        flex-wrap: wrap
    }

    .about__first-block,
    .about__second-block {
        gap: 15px;
    }

    .about__second-block .about__descr,
    .about__first-block .about__descr {
        max-width: 315px;
    }

    .about__descr {
        font-size: 12px;
        text-align: justify;
    }

    /*  */

    .promotion__content {
        grid-template-columns: 1fr;
        justify-items: center;

        .promotion__title {
            margin-bottom: 30px;
        }

        .promotion__img__wrap {
            grid-row: 2/3;
        }

        .promotion__descr__wrap {
            grid-row: 3/4;
        }

        .promotion__btn {
            margin: 30px 0 0;
        }
    }

    .promotion__img-raffaello {
        left: auto;
        max-width: 70%;
    }

    .promotion__foliage-1 {
        right: -124px;
        top: -2px;
        width: 613px;
    }

    .promotion__foliage-2 {
        width: 243px;
        left: 214px;
        bottom: -181px;
    }

    .about .bg_decor-1,
    .about .bg_decor-2 {
        display: none;
    }

    .reviews {
        .bg_decor-4 {
            display: none;
        }
    }

    .bg_decor-3 {
        display: none;
    }
}

@media screen and (max-width: 640px) {

    .header .order-call {
        width: 109px;
    }

    .circle-item__item-icon {
        margin-bottom: 10px;
    }

    .main-block__title {
        margin: 0;
    }

    .main-block__circle-item {
        grid-template-columns: 1fr;
    }

    .main-block__content {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
        row-gap: 30px;
    }

    .main-block__img-3_flower {
        grid-column: 1 /3;
        grid-row: 3 / 4;
    }

    .main-block__descr {
        margin: 0;
    }

    .main-block__button {
        grid-row: 5 / 6;
    }

    .main-block__circle-item {
        grid-row: 4 / 5;
        margin-top: 0;
    }

    .catalog__items-min {
        grid-template-columns: repeat(auto-fill, minmax(280px, 332px))
    }

    .plants {
        padding: 40px 0 75px;
    }

    .grid-wrap {
        display: grid;
        justify-content: center;
    }

    .plants__catalog {
        grid-template-columns: 1fr;
        justify-items: normal;

        .catalog__item-big {
            max-width: 332px;
            padding: 8px 30px 25px;
            margin: 10px 0 0;

            .item-title {
                margin-top: 55px;
                font-size: 20px;
            }

            .item-descr {
                display: none;
            }

            .item-price {
                font-size: 18px;
                margin-top: 30px;
            }
        }

        .catalog__item-big .item-img {
            width: 175px;
        }
    }

    .plants__btn {
        margin: 35px auto 0;
    }

    .promotion {
        padding: 40px 0 75px;
    }

    .work__item {
        grid-template-rows: 80px auto;
        grid-template-columns: auto;
        align-items: flex-start;
        justify-items: center;
        max-width: 300px;
    }

    .work__title {
        margin-bottom: 30px;
    }

    .photogallery {
        padding: 40px 0 75px;
    }

    .photogallery__img-items {
        grid-template-columns: minmax(200px, 333px);
        justify-content: center;
        margin-top: 30px;
        padding: 0 30px;
    }

    .photogallery__img-item-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .photogallery__img-item-2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .photogallery__img-item-3 {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .photogallery__img-item-4 {
        grid-column: 1/2;
        grid-row: 5/6;
    }

    .photogallery__img-item-5 {
        grid-column: 1/2;
        grid-row: 3/4;
        width: 100%;
    }

    /*  */
    .slick {
        width: 280px;
    }

    .slick-prev {
        top: 38%;
    }

    .slick-next {
        top: 38%;
    }

    .reviews__item {
        max-height: 470px !important;
    }

    /*  */

    .pickup,
    .courier,
    .card,
    .cash {
        justify-items: center;
        text-align: center;
    }

    .info__content {
        .circle {
            grid-row: 1/2
        }

        .title {
            grid-column: 1/2;
            grid-row: 2/3;
        }

        .descr {
            grid-column: 1/2;
            grid-row: 3/4;

        }
    }

    .reviews__title {
        margin-bottom: 30px;
    }

    .reviews {
        padding: 0 0 75px;
    }

    .info {
        padding: 0 0 75px;
    }

    /*  */
    .footer__content-wrap {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .footer .logo {
        justify-self: auto;
    }

    .footer__phone-wrap {
        justify-self: auto;
        grid-column: 1/3;
    }

    .footer {
        padding: 30px 0 30px;
    }

    .down {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }

    .bg_decor-5 {
        display: none;
    }

    /* .popap-order__img {
        display: none;
    } */

    .order_btn {
        justify-self: center;
    }

    .popap-order-thanks__descr {
        font-size: 15px;
        width: 350px;
    }
}

@media screen and (max-width: 440px) {
    .popap-order-wrap {
        grid-template-columns: 252px;
    }

    .popap-order-thanks__descr {
        font-size: 15px;
        width: 300px;
    }

    .popap-order-thanks__descr {
        margin-top: 25px;
        font-size: 12px;
        width: 250px;
    }

    .popap-order-thanks {
        padding: 90px 10px 190px;
    }

    .popap-order-thanks__btn {
        margin-top: 25px;
    }
}